__pycache__
env
htmlcov
# dependencies
node_modules

# testing
/coverage
services/client/coverage

# production
/build
/dist
.next

# misc
.vscode
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
